<div class="OVCDeviceSearch"> 
<div class="OVCDeviceSearch12" data-dojo-attach-point="gridAlertDetails" ></div> 
		<div  data-dojo-attach-point="buttonContainer" class="OVCDeviceSearch12 buttons-container"></div>	
</div>
