<div class="OVCReport" >
 
 	<span class="col" > 
	<span >
		<span class="d-row-1">
			<label for="dtb" class="details-name">Kelly Bonner</label>
		</span>
		<span class="details-info">
			<span class="d-row">
				<label for="dtb" class="d-title">Order Type:</label>
				<label for="dtb" class="d-info">Pickup</label>				
			</span>
			<span class="d-row">
				<label for="dtb" class="d-title">Status:</label>
				<label for="dtb" class="d-info">Ready</label>
			</span>
		</span>
	</span>   
	</span>

<span class="col">
	<span >
		<span class="d-row-1">
			<label for="dtb">Wittekindshof, Schulstrasse 4<br>32547 Oyenhausen, GERMANY</label>
		</span>
		<span class="details-info">
			<span class="d-row">
			<label for="dtb" class="d-title">Order Date:</label>
			<label for="dtb" class="d-info">03/03/14</label>
			</span>
			<span class="d-row">
			<label for="dtb" class="d-title">Order #:</label>
			<label for="dtb" class="d-info">61234</label>
			</span>
		</span>
	</span>   
</span>

<span class="col">
	<span >
		<span class="d-row-1">
			<label for="dtb" class="details-email">Kelly.Bonner@gmail.com</label>
			<label for="dtb">123-234-2345</label>
		</span>
		<span class="details-info">
			<span class="d-row">
			<label for="dtb" class="d-title"></label>
			<label for="dtb" class="d-info"></label>
			</span>
			<span class="d-row">
			<label for="dtb" class="d-title">Expires:</label>
			<label for="dtb" class="d-info">03/13/14</label>
			</span>
		</span>
	</span>   
</span>
</div>
