*
{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	
}

.OVCReport
{
	vertical-align: top;
	height: 100%;
	width: 100% !important;
	padding: 0 25px !important;
	box-sizing: border-box;
	
	background: white;
}

.mblBackground
{
	background: white !important;
}

.OVCReport .OVCBertReport
 {
	vertical-align: top;
	height: 66%;
	width: 100% !important;
	background: white !important;
}

.OVCReport .OVCReportFilterWrapper
{ 
	height: inherit;
}

