<div class="OVCReport">
<div  class="OVCReportFilterWrapper" data-dojo-attach-point="filterWrapper" >
	<div class="OVCReportFilter" data-dojo-props="content: 'Templated View'" data-dojo-attach-point="filterNode">
	</div>
	<div class="OVCReportFilterButton" data-dojo-props="content: 'Templated View'" data-dojo-attach-point="filterButtonNode">
	</div>
	<div class="OVCBertReport" data-dojo-props="content: 'Templated View'" data-dojo-attach-point="htmlNode">
 	</div> 
</div>
</div>
