<div class="OVCRolesList">
	<div class="OVCRolesList12 detailsHeader" data-dojo-attach-point="detailsHeader">
		<span class = "details-name">Roles Grid</span>
	</div>
	<div class="Container" data-dojo-attach-point="grid"></div>
	<div class="buttons-container" id="RolesListbuttonContainer" data-dojo-attach-point="buttonContainer">
		
	</div>
	
</div>
