<div class="OVCLocationDetails">
	<div class="OVCLocationDetails12 mblFormLayout" >
		<div class="OVCLocationDetails12 mblFormLayoutTitle"  data-dojo-attach-point="titleNode"></div>
		<div class="OVCLocationsContainers" data-dojo-attach-point="OVCLocationsContainers" ></div>
		<div  data-dojo-attach-point="OVCLocationsbuttonsContainer" class="OVCLocationsbuttonsContainer"></div>		
	</div>
</div>
