<div class="OVCUserDetails">
	<div class="OVCUserDetails12 mblFormLayout" >
		<div class="OVCUserDetails12 mblFormLayoutTitle"  data-dojo-attach-point="titleNode"></div>
		<div class="OVCUsersContainers" data-dojo-attach-point="OVCUsersContainers" ></div>
		<div  data-dojo-attach-point="OVCUsersbuttonsContainer" class="OVCUsersbuttonsContainer"></div>		
	</div>
</div>
