<div class="FileUploadView">

<form method="post" id="myform" 
enctype="multipart/form-data"  data-dojo-attach-point="myform" >
    <fieldset> 
    	<div data-dojo-attach-point="uploaderNode" >
    	<input class="FileUploadView mblButton" name="uploadedfile" multiple="true" type="file" id="uploader"
        dojoType="dojox.form.Uploader" 
        fileMask="
        'filemask' : [
			['CSV File',  '*.csv;*.CSV'],
			['All Files', '*.csv;*.CSV'] 
		]" 
		label="select" > 
        </div>
 		<div id="files" dojoType="dojox.form.uploader.FileList"  uploaderId="uploader"></div> 
        <input type="submit" class="mblButton" label="Upload" dojoType="dijit.form.Button" />
   </fieldset>
</form>
</div>
