
<div class="OVCAccordianView">
		
		<div class="OVCaccordionClass" data-dojo-type="dojox.mobile.Accordion" data-dojo-attach-point="AccordionNode" region="leading" data-dojo-attach-event="click:accordionClick"></div>
		
 </div>
