<div class="OVCUsersList"> 
<div  data-dojo-attach-point="gridUsersList"  class="OVCUsersList12" ></div> 
<div  data-dojo-attach-point="usersButtonContainer" id="UsersListbuttonContainer" class="OVCUsersList12 buttons-container"></div>	
</div>
