<div class="OVCLocationList"> 
<div  data-dojo-attach-point="gridLocationList" class="OVCLocationList12"  ></div> 
<div  data-dojo-attach-point="buttonContainer" class="OVCLocationList12 buttons-container"></div>	
</div>
