<div class="OVCDeviceDetails">
	<div class="OVCDeviceDetails12 mblFormLayout" >
		<div class="OVCDeviceDetails12 mblFormLayoutTitle"  data-dojo-attach-point="titleNode"></div>
		<div class="OVCDevicesContainers" data-dojo-attach-point="OVCDevicesContainers" ></div>
		<div class="OVCDevicesContainers" data-dojo-attach-point="OVCDevicesCheckBoxs" ></div>
		<div  data-dojo-attach-point="buttonContainer" class="OVCDeviceDetails12 buttons-container"></div>		
	</div>
</div>
