*
{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.HTMLView
{
	vertical-align: top;
	height: 100%;
	width: 100% !important;
	padding: 0 25px !important;
	box-sizing: border-box;
}

.mblBackground
{
	background: white !important;
}

.HTMLViewContainer
{
	border-right: 1px solid #bfbfbf;
	background: white;
	height: 100%;
	position: fixed;
	padding: 0 1.7%;

}

.HTMLView .mblButton {
    padding: 0px;
    margin-right: 6px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #40c2e1 #22b5d8 #219fbf #2393b0;
    background-image: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: normal;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: rgb(48,188,222); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(48,188,222,1) 0%, rgba(36,174,207,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,188,222,1)), color-stop(100%,rgba(36,174,207,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcde', endColorstr='#24aecf',GradientType=0 ); /* IE6-9 */
    border-radius: 20px;
    color: white;
    font-size: 13px !important;
    font-weight: normal !important;
    width: 100px !important;
}

.HTMLView .dgrid
{
	border-width: 1px 0 0 0 !important;
	width: 100%;
}

.HTMLView .dgrid .dgrid-row
{
	height: 67px;
	border-bottom: 1px solid #efefef !important;
}

.HTMLView .dgrid-cell-padding
{
	padding: 0 !important;
}

.HTMLView .dgrid-scrollbar-width
{
	width: 0 !important;
}

.HTMLView .dgrid-cell
{
	border-color: #efefef !important;
	border-width: 0px !important;

}

.HTMLView .dgrid-header
{
	right: 0 !important;
	height: 0;
	padding-right: 1em;
}

.HTMLView .dgrid-selected
{
	background: #f2f2f2 !important;

}

.HTMLView 
{
	width: 65%;
	margin: 0;
	padding: 0;
}

.HTMLView .detailsHeader
{
	overflow: hidden;
	height: auto;
}

.HTMLView .col
{
	width: 34%;
	display: inline-block;
	float: left;
	font-size: 0.8em !important;
	padding: 1.2% 0 2.3% 0;
	color: #000;
}

.HTMLView .col:nth-child(2)
{
	width: 38.5%;
}

.HTMLView .col:nth-child(3)
{
	width: 27.5%;
}

.HTMLView .col > span:first-child
{
	padding: 0 12px 0 0;
	display: block;
}

.HTMLView .details-info
{
	margin-top: 0px;
	display: block;
}

.HTMLView .details-name
{
	font-size: 1.5em !important;
	font-weight: normal;
	font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
	display: block;
	line-height: 2em;
}

.HTMLView .details-email
{
	color: #0ba0c3;
	cursor: pointer;
	display: block;
}

.HTMLView .d-title, .HTMLView .d-info
{
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}

.HTMLView .d-info
{
	font-size: 95%;
}

.HTMLView .d-title
{
	width: 34.4%;
	color: #a09e9e;
	font-size: 90% !important;
}

.HTMLView .d-row
{
	display: block;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1%;
}

.HTMLView .col > span:first-child > label:first-child
{
	display: block;
}

.HTMLView .d-row-1
{
	margin-bottom: 10%;
	display: block;
	line-height: 1.6em;
	font-size: 95%;
}

.HTMLView .dgrid
{
	border-top: none !important;
	position: relative !important;
	height: 20em !important;
}

.HTMLView .dgrid-scroller
{
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}

.HTMLView .dgrid-header
{
	height: auto !important;
}

.HTMLView .dgrid-header th
{
	font-size: 75% !important;
	font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
	color: #615f5f;
	line-height: 100%;
	padding: 0.45em 0 !important;
	border: none !important;
}

.HTMLView .dgrid-header tr th, .HTMLView .dgrid-cell
{
	width: 11%;
}

.HTMLView .dgrid-header tr th:first-child, .HTMLView .dgrid-cell:first-child
{
	padding-left: 2.5% !important;
	width: 8%;
}

.HTMLView .dgrid-cell
{
	font-size: 80% !important;
	vertical-align: middle;
	position: relative;
}

.HTMLView td
{
	color: #666;
}

.HTMLView .dgrid-header tr th:nth-child(2), .HTMLView .dgrid-cell:nth-child(2)
{
	width: 8%;
}

.HTMLView .dgrid-header tr th:nth-child(3), .HTMLView .dgrid-cell:nth-child(3)
{
	width: 25%;
}

.HTMLView td.dgrid-cell:nth-child(2)
{
	color: #0ba0c3;
	cursor: pointer;
}

.HTMLView .dgrid-cell:nth-child(3)
{
	text-align: center;
}

.HTMLView .dgrid .dgrid-row
{
	height: 20%;
}

.HTMLView .item-img
{
	position: absolute;
	top: 9%;
	left: 0;
	width: 60px;
	height: 59px;
}

.HTMLView .item-img img
{
	position: absolute;

}

.HTMLView .dgrid .dgrid-row:last-child
{
	border-bottom: none !important;
}

.HTMLView .total-price
{
	font-size: 140% !important;
	font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
	color: #161616;
}

.HTMLView .dgrid-header tr th:last-child, .HTMLView .dgrid-cell:last-child
{
	padding-right: 2.5em !important;
	text-align: center;
}

.HTMLView .dgrid-header tr th:nth-child(4), .HTMLView .dgrid-cell:nth-child(4)
{
	text-align: right;
	padding-right: 1.5em !important;
}

.HTMLView .dgrid-cell:nth-child(4)
{
	padding-right: 1.4em !important;
}

.HTMLView .buttons-container
{
	bottom: 0.3%;
	background: white;
	left: 0%;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 1% 0 4% 0;
	border-top: 1px solid #eee;
}

