<div class="BaseWidget">
	<div data-dojo-type="dojox/mobile/view" data-dojo-props="title: 'Templated View'" data-dojo-attach-point="baseNode"> 
	 	<div id="appointmentSchedulerView" data-dojo-type="dojox/mobile/View" style="height: 100%; width: 100%">
	    	<div id="appointmentScheduler" data-dojo-attach-point="baseNode"></div>
	  	</div>
	
	  <div id="alertCenterView" data-dojo-type="dojox/mobile/View" style="width:100%; height:100%;">
	    <div id="alertCenter" data-dojo-attach-point="alertCenter"></div>
	  </div>
	
	  <div id="searchCenterView" data-dojo-type="dojox/mobile/View" style="width:100%; height:100%;">
	    <div id="searchCenter" data-dojo-attach-point="searchCenter"></div>
	  </div>
	
	  <div id="calendarSettingsView" data-dojo-type="dojox/mobile/View" style="width:100%; height:100%;">
	    <div id="calendarSettings" data-dojo-attach-point="calendarSettings">></div>
	  </div>
	
	  <div id="orderLookupView" data-dojo-type="dojox/mobile/View" style="width:100%; height:100%;">
	    <div id="orderLookup" data-dojo-attach-point="orderLookup">></div>
	  </div>
	
	  <div id="searchView" data-dojo-type="dojox/mobile/View" style="width:100%; height:100%;">
	    <div id="searchWidget" data-dojo-attach-point="searchWidget">></div>
	  </div>
   	</div>
</div>
