*
{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.BoxContainer
{
	vertical-align: top;
	height: 100%;
	width: 100% !important;
	padding: 0 25px !important;
	box-sizing: border-box;
}

.mblBackground
{
	background: white !important;
}

.BoxContainerContainer
{ 
	background: white;
	height: 100%;
	position: fixed;
	padding: 0 1.7%;
}

.BoxContainer .mblButton {
    padding: 0px;
    margin-right: 6px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #40c2e1 #22b5d8 #219fbf #2393b0;
    background-image: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: normal;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: rgb(48,188,222); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(48,188,222,1) 0%, rgba(36,174,207,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,188,222,1)), color-stop(100%,rgba(36,174,207,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(48,188,222,1) 0%,rgba(36,174,207,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcde', endColorstr='#24aecf',GradientType=0 ); /* IE6-9 */
    border-radius: 20px;
    color: white;
    font-size: 13px !important;
    font-weight: normal !important;
    width: 100px !important;
}

.BoxContainer .buttons-container
{
	bottom: 0.3%;
	background: white;
	left: 0%;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 1% 0 4% 0;
	border-top: 1px solid #eee;
}

