<div class="OVCHeader">
	<div class="OVCCreateEditDevices12 mblFormLayoutTitle" id="mblFormLayoutTitle" data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="titleNode">
 		 
	</div>
	
		<div class="OVCHeaderLhmchanger"  data-dojo-attach-point="side_head_collapse" id="side_head_collapse"></div>
</div>
