<div class="OVCDeviceSearch"> 
<div  data-dojo-attach-point="gridAlertDetails" class="OVCDeviceSearch12"  ></div>
<div  data-dojo-attach-point="buttonContainer" class="BoxContainerContainer OVCDeviceSearch12 buttons-container"></div>	
</div>
